{% extends 'register/base_register.html' %}
{% load static %}
{% block title %}
    Kirish
{% endblock title %}

{% block content %}
    <div class="w-full flex flex-col justify-center items-center my-auto py-24">
        <div class="flex gap-8 rounded-full border-2 border-[#007AFF] bg-[#008CFF59] font-bold my-8">
            <a href="{% url 'login' %}" class="rounded-full border-2 border-[#007AFF] px-12 py-2 bg-white">Log In</a>
            <a href="{% url 'register' %}" class=" py-2 pr-12">Sign Up</a>
        </div>
  
            
        <!-- <form method="post" class="flex gap-4 flex-col rounded-2xl border-2 border-[#007AFF] font-bold px-24 py-8 justify-center items-center w-2/5">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-[#008CFF] w-2/3 py-4 rounded-full" type="submit">Kirish</button>
        </form> -->
        <form method="post" class="flex gap-4 flex-col rounded-2xl border-2 border-[#007AFF] font-bold px-24 py-8 justify-center items-center w-2/5">
            {% csrf_token %}
            {% for field in form %}
                <div class="w-full">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="bg-[#008CFF] w-2/3 py-4 rounded-full" type="submit">Kirish</button>
        </form>

        <div class="flex my-8 gap-4">
            <img class="w-20 h-20" src="{% static 'image/Rectangle 84.png' %}" alt="">
            <img class="w-20 h-20" src="{% static 'image/Rectangle 85.png' %}" alt="">
            <img class="w-20 h-20" src="{% static 'image/Rectangle 86.png' %}" alt="">
        </div>
    </div> 
    
{% endblock content %}